.gallery {
  column-count: 4;
  column-width: 33%;
  padding: 12px;
}
.pics {
  margin-bottom: 30px;
  overflow: hidden;
}
@media (max-width: 1440px) {
  .gallery {
    column-count: 3;
  }
}
@media (max-width: 1060px) {
  .gallery {
    column-count: 2;
  }
}
@media (max-width: 700px) {
  .gallery {
    column-count: 1;
  }
}
